mat-card {
    width: 25%;
    min-width: 350px;
    float: none;
    margin: 0 auto;
    margin-top: 10%;
}

@media screen and (max-width: 400px){
    mat-card {
        min-width: 250px;
    }
    
}