<app-navbar [navColor]="navColor" [navtitle]="title" [buttons]="homeButtons" [logged]="logged"></app-navbar>
<div class="main">

</div>
<div class="content-1">
  <div id="features">
    <div id="grid-1">
      <div id="fa-container"><i class="fa fa-check-double fa-2x"></i><span> Verified impressions</span>
        <p>Our system will know when your users watch an advertisement. User ingame experience will not be affected since advertisement are integrated into the game!</p>
      </div>
    </div>
    <div id="grid-2">
      <div id="fa-container"><i class="fa fa-sync-alt fa-2x"></i><span> Real time advertisements</span>
        <p>Advertisements will be load dynamically ingame, no assets needed to install. </p>
      </div>
    </div>
    <h2 class="text-divider"></h2>
    <div id="grid-1">
      <div id="fa-container"><i class="fa fa-mouse-pointer fa-2x"></i><span> Easy to use</span>
      <p>Just register and download our plugin and follow the instructions to setup your game and start earning money!</p>
      </div>
    </div>
    <div id="grid-2">
      <div id="fa-container"><i class="fa fa-hand-holding-usd fa-2x"></i><span> Check your earns</span>
      <p>ADvu gives you a simple way to check your advertisement stats, like how much earned and impressions count.</p>
      </div>
    </div>
  </div>
</div>

<div class="content-2">
  
</div>